<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios" class="ion-no-border">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Encabezados</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment 
    [value]="selectedCategory"
    scrollable
    (ionChange)="segmentChanges($event)"
    mode="md">

    <ion-segment-button 
      *ngFor="let category of categories"
      [value]="category">
      <ion-label class="ion-text-capitalize">{{category | titlecase}}</ion-label>
    </ion-segment-button>
    
  </ion-segment>


  <app-articles [articles]="articles" />

<ion-infinite-scroll 
  threshold="25%" 
  position="bottom" 
  (ionInfinite)="loadData()">

  <ion-infinite-scroll-content 
    loadingSpinner="bubbles" 
    loadingText="Cargando...">

  </ion-infinite-scroll-content>

</ion-infinite-scroll>

</ion-content>
